html {
  background-color: #ffeeee;
  color: #002646;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  background-color: #002646;
  /* color: #eecccc; */
  color: #eedddd;
  /* width: 50%; */
  padding: 5% 10%;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.filler {
  height: 20%;
}

.buttons {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons li {
  margin: 5px;
}
